
div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

/* Global Styles */

/* ------------------------------- */


@media(min-width:768px) {
    body {
        padding-top: 50px;
    }
}

body {
    padding-top: 70px;
    background-color: #f8f8f8;
}

/* Wrappers */

/* ------------------------------- */

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #e7e7e7;
    }
}

/* Navigation */

/* ------------------------------- */


.navbar.navbar-default{background: #438eb9;}

li.dropdown>a{background-color: #2e6589;color:#FFF;}
li.dropdown>a:hover, li.dropdown>a:focus, li.dropdown.open>a{background-color: #4b4b4b;color:#FFF;}

li.dropdown.gray>a{background-color: #555;}
li.dropdown.gray>a:hover, li.dropdown.gray>a:focus, li.dropdown.open.gray>a{background-color:#4b4b4b}

li.dropdown.purple>a{background-color: #892e65;}
li.dropdown.purple>a:hover, li.dropdown.purple>a:focus, li.dropdown.open.purple>a{background-color:#762c59}

li.dropdown.green>a{background-color:#2e8965}
li.dropdown.green>a:hover,
li.dropdown.green>a:focus, li.dropdown.open.green>a{background-color:#2c7659}

li.dropdown.light-blue>a{background-color:#62a8d1}
li.dropdown.light-blue>a:hover, li.dropdown.light-blue>a:focus, li.dropdown.open.ligth-blue>a{background-color:#579ec8}

li.dropdown.light-blue2>a{background-color:#42a8e1}
li.dropdown.light-blue2>a:hover,
li.dropdown.light-blue2>a:focus, li.dropdown.open.light-blue2>a{background-color:#359fd9}

li.dropdown.red>a{background-color:#b74635}
li.dropdown.red>a:hover, li.dropdown.red>a:focus, li.dropdown.open.red>a{background-color:#a34335}

li.dropdown.light-green>a{background-color:#9abc32}
li.dropdown.light-green>a:hover,
li.dropdown.light-green>a:focus, li.dropdown.open.light-green>a{background-color:#8ba832}

li.dropdown.light-purple>a{background-color:#cb6fd7}
li.dropdown.light-purple>a:hover,
li.dropdown.light-purple>a:focus, li.dropdown.open.light-purple>a{background-color:#c263ce}

li.dropdown.light-orange>a{background-color:#f79263}
li.dropdown.light-orange>a:hover,
li.dropdown.light-orange>a:focus, li.dropdown.open.light-orange>a{background-color:#f28653}

li.dropdown.light-pink>a{background-color:#f4dae5}
li.dropdown.light-pink>a:hover,
li.dropdown.light-pink>a:focus, li.dropdown.open.light-pink>a{background-color:#eeccda}

li.dropdown.dark>a{background-color:#404040}
li.dropdown.dark>a:hover,
li.dropdown.dark>a:focus, li.dropdown.open.dark>a{background-color:#363636}

.nav>li>a>img.nav-user-photo {margin: -4px 8px 0 0;border-radius: 100%;border: 2px solid #FFF;max-width: 40px;position: absolute;top: 9px;left: 5px;}
.nav>li>a>span.user-info{padding-left: 35px;}

.panel-current-viewers .panel-body #audience-counter{font-size: 100px;text-align: center;margin-bottom: 20px;}
.panel-top-ten .fa-arrow-up{color:#9abc32;}
.panel-top-ten .fa-arrow-down{color:#b74635;}

.panel-top-ten img.video-thumbnail{width:70px;display:inline-block;}
/* Top Right Navigation Dropdown Styles */

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}



/* Buttons */

/* ------------------------------- */

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Pages */


.show-grid [class*="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
}

.show-grid {
    box-shadow: 0 0 1px;
    border: 1px dashed #8f8f8f;
}

.height-1{
    height: 150px;
}

.height-2{
    height: 300px;
}

.height-3{
    height: 450px;
}

.websites-container .icon{
    font-size: 50px;
    text-align: center;
}

.page-editor .main-container{
    min-height: 150px;
    position: relative;
    padding: 0 15px;
}

.page-editor .main-container .container-config{
    position: absolute;
    top: 0;
    right: 0;
}

.page-editor .main-container .container-config .properties-config{
    width: 262px;
    background: #FFF;
    display: none;
    padding: 15px;
    border: solid 1px slategray;
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 1000;
}

.page-editor .main-container .container-config .opener{
    padding: 5px;
    cursor: pointer;
    float: right;
    background-color: #E8466D;
}

.page-editor .main-container .container-config .opener:hover{
    text-shadow: 0 0 2px;
}