/* Global Styles */
body {
    padding-top: 90px;
    background-color: #f8f8f8;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto,Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #3B5957;
}

/* Wrappers */

/* ------------------------------- */

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #e7e7e7;
    }
}

/* Nav Header */
.navbar-header{
    background: #42AEB7;
}
.navbar-header span{
    font-family: Pacifico, Helvetica Neue, Helvetica, Arial;
    font-size: 25px;
    color: #FFF;
    padding-left: 10px;
    vertical-align: middle;
}

.nav{
    padding: 14px 0;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 44px solid transparent;
    border-bottom: 44px solid transparent;
    border-left: 25px solid #42AEB7;
    float: left
}


/* Navigation */

/* ------------------------------- */
.navbar{background: #4CC9CC;}

li.dropdown>a{color:#FFF;}

li.dropdown>a:hover,
li.dropdown>a:focus,
li.dropdown.open>a{
    color:#FFF;
}

.nav>li>a:focus,
.nav>li>a:hover,
.nav .open>a:hover,
.nav .open>a,
.nav .open>a:focus{
    background-color:#42AEB7;
}

.nav>li>a>img.nav-user-photo {
    margin: -4px 8px 0 0;
    border-radius: 100%;
    border: 3px solid #148793;
    max-width: 45px;
}

.nav>li>a>span.user-info{padding-right: 15px;color: #148793;}


/* Top Right Navigation Dropdown Styles */
.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

body .main-content{
    padding-top: 15px;
}

/* Pages */
.show-grid [class*="col-"] > div.content {
    border: 1px solid #ddd;
}

.show-grid .content{
    box-shadow: 0 0 1px;
    border: 1px dashed #8f8f8f;
}

.height-1{
    min-height: 150px;
}

.height-2{
    min-height: 300px;
}

.height-3{
    min-height: 450px;
}

.websites-container .icon{
    font-size: 50px;
    text-align: center;
}

.page-editor .main-container{
    min-height: 150px;
    position: relative;
    padding: 0 15px;
}

.page-editor .container-config{
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    background-color: #E8466D;
}

.page-editor div[class*="widget-type-"] > .content{
    margin-bottom: 30px;
}

.page-editor .container-config .properties-config{ /* used with bubble classes */
    display: none;
    padding: 15px;
    position: absolute;
    left: 0;
    top: 44px;
    z-index: 1000;
}

.page-editor .container-config .opener{
    background-color: #C1385F;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    float:left;
    font-size: 21px;
    color:white;
}

.page-editor .container-config .delete{
    padding-right: 10px;
    cursor: pointer;   
    float: right;
    font-size: 21px;
    color:white;
}

.page-editor .container-config .opener:hover{
    /*text-shadow: 0 0 2px;*/
}

.page-editor .widget-add .add-widget{
    font-size: 36px;
    line-height: 30px;
    color: #f8f8f8;
    cursor: pointer;
    padding-top: 44px;
    padding-bottom: 44px;
}

.page-editor .widget-add .add-widget .outer-circle{
    border: 4px solid #6a8789;
    border-radius: 100%;
    width: 58px;
    height: 58px;
    margin: 0 auto;
}

.page-editor .widget-add .add-widget .inner-circle{
    text-align: center;
    background: #6a8789;
    border: 4px solid #FFF;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-family: Pacifico, Helvetica Neue, Helvetica, Arial;
}

.page-editor .widget-add{
    position: relative;
    -webkit-transition: .6s cubic-bezier(0,1.5,.5,1);
    -moz-transition: .6s cubic-bezier(0,1.5,.5,1);
    -o-transition: .6s cubic-bezier(0,1.5,.5,1);
    transition: .6s cubic-bezier(0,1.5,.5,1);
}

.page-editor .widget-add.clicked{
    transform: translate(-50%,-50%);
    position: fixed;
    z-index: 10000000;
    top: 50%;
    left: 50%;
}

.page-editor .widget-add.clicked .content{
    border: 2px solid #6a8789;
}

.page-editor .widget-add .available-widgets,
.page-editor .widget-add.clicked .add-widget{
    display: none;
}
.page-editor .widget-add.clicked .available-widgets{
    display: block;
}

.page-editor .widget-add .content{
    border: 2px dashed #6a8789;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.7);
    overflow-y: auto;
}

.panel-title{
    color: #6a8789;
    font-size: 14px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255, 0.5);
    z-index: 100000;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    opacity: 0.4;
    display: none;
}

.widget-type-container > .content > div{
    padding:0;
}

/* .properties-config Bubble */

.bubble {
    position: relative;
    width: 250px;
    height: 173px;
    padding: 0px;
    background: #e6e6e6;
    border: #7a7a7a solid 1px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(97, 97, 97, 0.5);
    -moz-box-shadow: 0px 0px 14px 0px rgba(97, 97, 97, 0.5);
    box-shadow: 0px 0px 14px 0px rgba(97, 97, 97, 0.5);
}

  .bubble:after {
    content: "";
    position: absolute;
    top: -13px;
    left: 4px;
    border-style: solid;
    border-width: 0 14px 13px;
    border-color: #e6e6e6 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

  .bubble:before {
    content: "";
    position: absolute;
    top: -14px;
    left: 4px;
    border-style: solid;
    border-width: 0 14px 13px;
    border-color: #7a7a7a transparent;
    display: block;
    width: 0;
    z-index: 0;
  }
